@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .mobile-mask-img-x {
    mask-image: linear-gradient(
      to right,
      transparent 0,
      black 28px,
      black calc(100% - 56px),
      transparent 100%
    );
  }

  .mask-img-x {
    mask-image: linear-gradient(
      to right,
      transparent 0,
      black 128px,
      black calc(100% - 200px),
      transparent 100%
    );
  }

  .button-animation {
    @apply transition ease-out delay-75;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-primary-color: #0c0a09;
  --background-secondary-color: #000;
  --navbar-height: 4rem;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #292524 #0c0a09;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: #292524;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #0c0a09;
  border-radius: 14px;
  border: 3px solid #292524;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-primary-color: #0c0a09;
  }
}

html {
  scroll-padding-top: var(--navbar-height);
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-primary-color);
}
