@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-color: #0c0a09;
  --navbar-height: 4rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-color: #0c0a09;
  }
}

html {
  scroll-padding-top: var(--navbar-height);
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-color);
}
