@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-color: #0c0a09;
  --navbar-height: 4rem;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #292524 #0c0a09;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: #292524;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #0c0a09;
  border-radius: 14px;
  border: 3px solid #292524;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-color: #0c0a09;
  }
}

html {
  scroll-padding-top: var(--navbar-height);
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-color);
}
